<div class="jumbotron">
  <h2>Workout Lounge</h2>
  <p>Show off your workout for others</p>
</div>

<div class="container">

	<div class="col-md-12">
	  <h2 class="name_holder_title">List of Members:</h2>
	  <%= will_paginate @athletes, render: BootstrapPagination::Rails, class:"pull-left paginate" %>
    <div class="name_holder">
	  <% @athletes.each do |athlete| %>
	    <div class="col-md-11 well member">
	  	  <%= athlete.full_name %>
	    </div>
	  <% end %>
	</div>
  </div>

</div>